version: "3.4"
services:
  server:
    build:
      context: .
      target: server
    container_name: car-migo_server
    ports:
      - "8086:8086"
    depends_on:
      - db

#  ui:
#    build:
#      context: .
#      target: ui
#    container_name: car-migo_ui
#    ports:
#      - "8087:8087"
#    depends_on:
#      - server

  db:
    image: postgres:14-bullseye
    container_name: car-migo_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: carmigo
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - db:/var/lib/postgresql/data

  flyway:
    image: flyway/flyway:9
    container_name: car-migo_flyway
    command: -url=jdbc:postgresql://db/carmigo -schemas=public -user=admin
      -password=password -connectRetries=5 migrate
    volumes:
      - ./migrations:/flyway/sql
    depends_on:
      - db

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: car-migo_pgadmin
    ports:
      - "8000:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@car-migo.com
      PGADMIN_DEFAULT_PASSWORD: password
    volumes:
      - pgadmin:/var/lib/pgadmin

volumes:
  db:
    name: car-migo_postgres
  pgadmin:
    name: car-migo_pgadmin
