spring:
  application:
    name: Car-Migo
  datasource:
    username: admin
    password: password
    url: jdbc:postgresql://localhost:5432/carmigo
  jpa:
    database-platform: carmigo
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL95Dialect
        jdbc:
          lob:
            non_contextual_creation: true
          time_zone: UTC
        temp:
          use_jdbc_metadata_defaults: false

logging:
  level:
    web: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "beans, health, info, metrics"
  endpoint:
    health:
      show-details: always
  health:
    mail:
      enabled: false

server:
  port: 8086

springdoc:
  api:
    description: RESTful API for CRUD operations on users (platform users, drivers and passengers) and journeys.
    title: Car-Migo API
  show-actuator: true
  swagger-ui:
    displayOperationId: true
    tagsSorter: alpha
  use-fqn: true
  writer-with-order-by-keys: true

application:
  secret:
    key: Q2FyLW1pZ28gYXBwbGljYXRpb24gaXMgYXdlc29tZSEgSXQgd2lsbCByZXZvbHV0aW9uaXplIHRoZSB3YXkgeW91IGdldCBhcm91bmQuIEl0IGlzIGVjby1mcmllbmRseSBhbmQgaGVscHMgeW91ciBwb2NrZXQuIFRoZSBhcHBsaWNhdGlvbiBpcyBxdWl0ZSBzdHJhaWdodHdheSwgeW91IGNhbiBlaXRoZXIgYWR2ZXJ0aXNlIHJpZGVzIG9yIHF1ZXJ5IHRoZW0uIFdoZW4gaW5zaWRlIHRoZSBjYXIgc2hhcmUsIHlvdSBjYW4gZW5qb3kgdGhlIHJpZGUgYW5kIG1ha2UgbmV3IGZyaWVuZHMuIENvbWUgb25ib2FyZCBhbmQgZXhwZXJpZW5jZSB0aGlzIG5ldyBsaWZlc3R5bGUu

open-feign:
  distance:
    endpoint: https://distanceto.p.rapidapi.com/get
    host: distanceto.p.rapidapi.com
    key: b032eeff7amsh66f3dfb561292d1p1067b5jsn841d0ef5b06c

---
spring:
  config:
    activate:
      on-profile: dev

debug: true

logging:
  level:
    root: INFO
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://db:5432/carmigo
  devtools:
    add-properties: false
